<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>

<div *ngIf="!error" class="container my-4">
  <!-- Filters Section -->
  <div class="filters d-flex justify-content-between flex-wrap mb-4">
    <!-- Search Bar -->
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="onSearchChange()"
      placeholder="Search products by name"
      class="form-control w-50 w-sm-75 w-md-50 w-lg-25"
    />

    <!-- Category Filter -->
    <select [(ngModel)]="selectedCategory" (change)="onCategoryChange()" class="form-select w-25">
      <option value="All">All Categories</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>

  <!-- Product List Section -->
  <div *ngIf="!error" class="row">
    <a [routerLink]="['/product',product.id]" *ngFor="let product of filteredProducts">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="product-card card shadow-sm h-100">
          <img [src]="product.imageUrl" alt="{{ product.name }}" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.price | currency:'INR':'symbol' }}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
