
<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>

<div *ngIf="!error" class="container my-4">
  <!-- Category Filter Section -->
  <div class="category-filter mb-4">
    <label for="category" class="form-label">Filter by Category:</label>
    <select id="category" [(ngModel)]="selectedCategory" (change)="onCategoryChange()"
      class="form-select w-50 w-sm-75 w-md-50 w-lg-25">
      <option value="">All Categories</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>
  <span class="cart-icon" id="cart-icon">
    <a routerLink="/home/cartpage">
      <i class="fa fa-shopping-cart"></i>
    </a>
  </span>
  

  <!-- Product List Section -->
  <div *ngIf="!error" class="row">
    <div *ngFor="let product of filteredProducts" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="product-card card shadow-sm h-100" [@moveToCart]>
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p>{{ product.category }}</p>
          <p class="card-text">{{ product.price | currency:'INR':'symbol' }}</p>
        </div>
        <div class="card-footer text-center">
          <button (click)="addToCart(product)" class="btn btn-primary">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cart Icon -->
